<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tradicionaisI">Tradicionais I</a></li>
    <li><a data-toggle="tab" href="#gourmets">Gourmets</a></li>
    <li><a data-toggle="tab" href="#caramelados">Caramelados</a></li>
    <li><a data-toggle="tab" href="#bombons">Bombons</a></li>
  </ul>
 
  <div class="tab-content">
 
    <div id="tradicionaisI" class="tab-pane fade in active">
      <div class="col-xs-6 col-xs-offset-3">
        <% @products.each do |product| %>
        <%= render "product_row", product: product, order_item: @order_item %>
        <% end %>
      </div>
    </div>

    <div id="gourmets" class="tab-pane fade">
      <div class="col-xs-6 col-xs-offset-3">
        <h3>Menu 1</h3>
        <p>Teste Menu 1</p>
      </div>
    </div>

    <div id="caramelados" class="tab-pane fade">
      <div class="col-xs-6 col-xs-offset-3">
        <h3>Menu 2</h3>
        <p>Teste Menu 1</p>
      </div>
    </div>

    <div id="bombons" class="tab-pane fade">
      <div class="col-xs-6 col-xs-offset-3">
        <h3>Menu 3</h3>
        <p>Teste Menu 1</p>
      </div>
    </div>

   </div>
  </div>
